#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.events-container {
    margin-top: 20px;

}

.event {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
    width: 400px;
}

.team-name {
    font-weight: bold;
    margin-right: 15px;
    color: #004d99;
}

.event-type {
    margin-right: 15px;
    color: #007300;
}

.event-time {
    font-style: italic;
    color: #333;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main .main-middle {
    flex: 1 1 auto;
}


.player-subbed > div {
    background-color:orangered;
}

.player-position{
    font-size: x-small;
}

.player-with-yellow {
    background-color: yellow;
}

.player-plate {
    width: 300px;
    padding: 5px;
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
   
}

.player-sub {
    background-color: #f0f0f0;
}

.player-with-yellow {
    border-color: #ffdd57;
}